:local .tone {
    color: var(--primary-color);    /* Using global constants example */
}

:local .link {
    composes: tone;                 /* Composition example */
    text-decoration: none;
}

:local .logo {
    height: 100px;
}
